<% if @prato.errors.any? %> 
<div id="error_explanation">
	<ul>
	<% @prato.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>	
	<% end %>
	</ul>
</div>	
<% end %>


<%= render "form %>

<%= link_to "Voltar", pratos_path %>
